#### Notes
Credit data set

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
url = "../Data/Credit.csv" # Changed to local from URL
CreditData = pd.read_csv(url)
print CreditData.count()
CreditData.head(10)

Unnamed: 0    400
Income        400
Limit         400
Rating        400
Cards         400
Age           400
Education     400
Gender        400
Student       400
Married       400
Ethnicity     400
Balance       400
dtype: int64

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,6,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
6,7,20.996,3388,259,2,37,12,Female,No,No,African American,203
7,8,71.408,7114,512,2,87,9,Male,No,No,Asian,872
8,9,15.125,3300,266,5,66,13,Female,No,No,Caucasian,279
9,10,71.061,6819,491,3,41,19,Female,Yes,Yes,African American,1350

In [6]:
del CreditData['Unnamed: 0']

#### Let's look at correlation matrix. This time, we only explore the quantitative variables that affect Credit Balance. From your preliminary analysis, which 3 variables seem to affect Balance the most? In our goal is interpretation; can we use these 3 variables simultaneously? Why?

In [7]:
CreditData.corr()

,Income,Limit,Rating,Cards,Age,Education,Balance,Race_Asian,Race_Caucasian,Gender_Female,Married_Yes,Student_Yes
Income,1.000000,0.792088,0.791378,-0.018273,0.175338,-0.027692,0.463656,-0.017137,-0.019701,-0.010738,0.035652,0.019632
Limit,0.792088,1.000000,0.996880,0.010231,0.100888,-0.023549,0.861697,-0.032427,-0.003081,0.009397,0.031155,-0.006015
Rating,0.791378,0.996880,1.000000,0.053239,0.103165,-0.030136,0.863625,-0.035999,-0.001070,0.008885,0.036751,-0.002028
Cards,-0.018273,0.010231,0.053239,1.000000,0.042948,-0.051084,0.086456,0.005591,-0.005631,-0.022658,-0.009695,-0.026164
Age,0.175338,0.100888,0.103165,0.042948,1.000000,0.003619,0.001835,-0.059623,-0.000822,0.004015,-0.073136,-0.029844
Education,-0.027692,-0.023549,-0.030136,-0.051084,0.003619,1.000000,-0.008062,0.029586,-0.037725,-0.005049,0.048911,0.072085
Balance,0.463656,0.861697,0.863625,0.086456,0.001835,-0.008062,1.000000,-0.009812,-0.003288,0.021474,-0.005673,0.259018
Race_Asian,-0.017137,-0.032427,-0.035999,0.005591,-0.059623,0.029586,-0.009812,1.000000,-0.582131,0.025425,0.088595,0.053534
Race_Caucasian,-0.019701,-0.003081,-0.001070,-0.005631,-0.000822,-0.037725,-0.003288,-0.582131,1.000000,-0.009831,0.011418,-0.048334
Gender_Female,-0.010738,0.009397,0.008885,-0.022658,0.004015,-0.005049,0.021474,0.025425,-0.009831,1.000000,0.012452,0.055034
Married_Yes,0.035652,0.031155,0.036751,-0.009695,-0.073136,0.048911,-0.005673,0.088595,0.011418,0.012452,1.000000,-0.076974
Student_Yes,0.019632,-0.006015,-0.002028,-0.026164,-0.029844,0.072085,0.259018,0.053534,-0.048334,0.055034,-0.076974,1.000000

- Income and Limit
- Income and Rating
- Income and Balance
- Limit and Rating
- Limit and Balance

Income, Rating, Balance, and Limit

#### There are few categorical variables, let's first create dummy variables for them

In [5]:
RaceDummy = pd.get_dummies(CreditData.Ethnicity, prefix = 'Race')
del RaceDummy['Race_African American']

GenderDummy = pd.get_dummies(CreditData.Gender, prefix = 'Gender')
del GenderDummy['Gender_ Male']  

MarriedDummy = pd.get_dummies(CreditData.Married, prefix = 'Married')
del MarriedDummy['Married_No']

StudentDummy = pd.get_dummies(CreditData.Student, prefix = 'Student')
del StudentDummy['Student_No']

CreditData = pd.concat([CreditData, RaceDummy,GenderDummy,MarriedDummy,StudentDummy], axis=1)

CreditData.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Race_Asian,Race_Caucasian,Gender_Female,Married_Yes,Student_Yes
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,0,1,0,1,0
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,1,0,1,1,1
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580,1,0,0,0,0
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964,1,0,1,0,0
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331,0,1,0,1,0

# Now it's time for some fun!

#### By a regression line, use Education, Ethnicity, Gender, Age, Cards, and Income to predict Balance. 

First Step, find the coefficients of your regression line

In [10]:
from sklearn.linear_model import LinearRegression  #import
linreg = LinearRegression() #Instantiate

In [23]:
cols = ['Age','Education','Cards','Income','Gender_Female','Race_Asian','Race_Caucasian']
X = CreditData[cols]
y = CreditData['Balance']
linreg.fit(X,y)
print(linreg.intercept_)
zip(cols,linreg.coef_)

230.042354393

[('Age', -2.329705473076412),
 ('Education', 1.6455360730250332),
 ('Cards', 33.629535079211934),
 ('Income', 6.2799589435274168),
 ('Gender_Female', 27.125431231591101),
 ('Race_Asian', -6.5460307809989553),
 ('Race_Caucasian', 3.4749764130323548)]

### Second Step, find the p-values of your estimates. You have a few variables try to show your p-values along side the names of the variables.

In [26]:
from sklearn import feature_selection
pvals = feature_selection.f_regression(X,y)[1]

In [27]:
zip(cols,pvals)

[('Age', 0.97081387233013317),
 ('Education', 0.87230640156710226),
 ('Cards', 0.084176555599370956),
 ('Income', 1.0308858025893513e-22),
 ('Gender_Female', 0.66851610550260099),
 ('Race_Asian', 0.84489564436221742),
 ('Race_Caucasian', 0.94772751139663791)]

Which of your coefficients are significant at significance level 5%?

Answer:  Income has a very low pvalue, also the number of cards seems to be associated (albeit not quite 0.5) with Balance.

#### What is the R-Squared of your model?

In [32]:
TSS = sum((y-y.mean())**2)
RSS = sum((y-linreg.predict(X))**2)
R2 = (TSS-RSS)/TSS
print 'TSS',TSS
print 'RSS',RSS
print 'R2',R2

TSS 84339911.91
RSS 64746686.9874
R2 0.232312608335

#### How do we interpret this value?

Answer: We are accounting for 20% of the error within the model, which is cray low

#### Now focus on two of the most significant variables from your previous model and re-run your regression model. This time, try to use a function to return all the values you are interested in. You may borrow from what covered in Lecture 5 ipython lecture.

In [34]:
cols = ['Cards','Income']
X = CreditData[cols]
linreg.fit(X,y)
print(linreg.intercept_)
print zip(cols,linreg.coef_)
print zip(cols,feature_selection.f_regression(X,y)[1])
TSS = sum((y-y.mean())**2)
RSS = sum((y-linreg.predict(X))**2)
R2 = (TSS-RSS)/TSS
print 'TSS',TSS
print 'RSS',RSS
print 'R2',R2

151.329946349
[('Cards', 31.838128947786878), ('Income', 6.0709985946705203)]
[('Cards', 0.084176555599370956), ('Income', 1.0308858025893513e-22)]
TSS 84339911.91
RSS 65448467.3096
R2 0.223991751622

In [39]:
def r2_adj(X,y,linreg_):
    tss = sum((y-y.mean())**2)
    rss = sum((y-linreg_.predict(X))**2)
    r2 = (tss-rss)/tss
    r2_a = 1-(((1-r2)*(len(y)-1))/(len(y)-len(X.columns.values)-1))
    return {
        'tss':tss,
        'rss':rss,
        'r2':r2,
        'r2_adj':r2_a
    }


r2_adj(X,y,linreg)

{'r2': 0.22399175162249638,
 'r2_adj': 0.22008239016971298,
 'rss': 65448467.309592135,
 'tss': 84339911.910000101}

#### In comparison to the previous model, did our R-Squared increase or decrease? Why?

Answer: Because I removed a large-ish number of variables, so wasn't very effective

#### Now let's regress Balance on Gender alone. After running your regression lines, do you have enough evidence to claim that females having more balance than males? (Hint: Look at the p-value of the Gender coefficient. If it is significant then you will have evidence to support that claim, otherwise you cannot support the statement.

In [44]:
cols = ['Gender_Female']
X = CreditData[cols]
y = CreditData['Balance']
linreg.fit(X,y)
print(linreg.intercept_)
print zip(cols,linreg.coef_)
r2_adj(X,y,linreg)

509.803108808
[('Gender_Female', 19.733123075767821)]

{'r2': 0.00046113296449763465,
 'r2_adj': -0.0020502712240337839,
 'rss': 84301019.996395573,
 'tss': 84339911.910000101}

Answer:

#### Now let's regress Balance on Ethnicity. After running your regression lines, do you have enough evidence to claim that some ethnic groups carry more balance than others? (Hint: Look at the p-value of  your dummy variables. If it is significant then you will have evidence to support that claim, otherwise you cannot support that statement.

Answer:

#### I know you get tired of this but for the last time regress Balance on Studentship status. After running your regression lines, do you have enough evidence to claim that students  carry more balance than others? (Hint: Look at the p-value of the your dummy variables. If it is significant then you will have evidence to support that claim, otherwise you cannot support the statement.

Answer:

#### No let's consider effect of students and income on balance simoltanously. Let's start with a regression line.

#### Are all of our regression coefficients significant? If yes, interpret them.

Answer:

#### Now let's explore interaction between income and studentship. Let's start with a regression line

In [ ]:
# First generate a column for interation term

#### Are our coefficients signifincant? It they are write down your regression line below:

Answer:

#### Is there any income level at which students and non-students on average carry same level of balance?

Answer: