# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [44]:
import pandas as pd
import numpy as np
import os
os.chdir('../Data/') #PLEASE SET THIS WORKING DIRECTORY TO YOURS
data = pd.read_csv('ozone.csv')

In [3]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [8]:
#hint check data.columns.values and use a for loop to show values line by line
print data.columns.values

['Ozone' 'Solar.R' 'Wind' 'Temp' 'Month' 'Day']

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [9]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [10]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [11]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [13]:
data.iloc[46]

Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

How many missing values are in the Ozone column of this data frame?

In [72]:
pd.isnull(data['Ozone']).sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [69]:
data['Ozone'].describe()

count    116.000000
mean      42.129310
std       32.987885
min        1.000000
25%       18.000000
50%       31.500000
75%       63.250000
max      168.000000
Name: Ozone, dtype: float64

In [68]:
data.loc[data['Ozone'] > 0, 'Ozone'].mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [76]:
data.loc[(data['Ozone'] > 31) & (data['Temp'] > 90),'Solar.R'].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [66]:
data.loc[data['Month']==6,'Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [67]:
data.loc[data['Month']==5,'Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas